header {
  background-color: white;
  margin: 40px;
  font-size: 30px;
}

a {
  text-decoration: none;
  list-style: none;
}

div.orderCard {
  
  height: 100px;
  width: 80rem;
  display: block;
}

div.orderCard ul.orderline{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

div.orderCard ul li{
    width: 30%;
}


