<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/logstyle.css' %}"
    />
  </head>
  <body>
    
    
      <form id="login" method="POST" action="">
        {% csrf_token %}
        <div class="box">
            <h1>Dashboard</h1>
        

       

        <input type="text" name="username"  class="email" placeholder="Username" />
        
        

        <input type="Password" name="password" class="email" placeholder="Password" />
        
        <div class="submit_container">
          {% if error %}
          <p class="error-message">{{message}}</p>
          {% endif %}
          

          <button><a href="{% url 'user:login' %}" id="btn2"> Login </a></button>
          <a href="{% url 'user:signup' %}"><div id="btn2">Sign Up</div></a>
          
        </div>

        
      </form>
    
  </body>
</html>