<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/logstyle.css' %}"
    />
  </head>
  <body>
    
    
      <form id="login" method="post" action="">
        <div class="box">
          <h1>Dashboard</h1>
        {% csrf_token %} {% for field in form %}
        <label form="{{field.id_for_label}}">{{field.label}}</label>
        {{field}}
        <br /><br />
        {% endfor %}
        <div class="submit_container">
          {% if error %}
          <p class="error-message">{{message}}</p>
          {% endif %}
          <button><a style="text-decoration: none;" href="{% url 'user:login' %}" id="btn2"> Signup </a></button>
          <button><a style="text-decoration: none;" href="{% url 'user:login' %}" id="btn2">Login</a></button>
        </div>

        <br /><br />
      </form>
    
  </body>
</html>

